.acerca-container {
  display: flex;
  align-content: center;
}

.acerca-imagen {
  width: 900px;
  height: auto;
  padding-top: 40px;
}

.acerca-texto-container {
  padding: 60px;
}
.acerca-texto-container h2 {
  padding: 30px;
  text-align: center;
}
