.container-servicios {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
}
.bg-section {
  background-color: #f3f3f3;
}
.servicios-titulo {
  @extend .portfolio-titulo;
}

.servicio-card h3 {
  text-align: center;
}
.servicio-card {
  padding: 1rem;
}

.servicio-card svg {
  display: block;
  margin: 1rem auto;
  fill: #9d4edd;
}
